[Unit]
Description=Arduino sensor reader service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/user/arduino_sensor_reader/server/main.py
WorkingDirectory=/home/user/arduino_sensor_reader
Type=simple
Restart=always
RestartSec=10
StandardOutput=null

User=user

[Install]
WantedBy=multi-user.target